* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    background: #E5E5E5;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #2B2B2B;
}

h4 {
    margin: 0;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
    margin-top: 20px;
    background: #EBEBEB;
}


.main-screen {
    height: 100vh;
}

.main-screen__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 140px 0 140px;
}

.main-screen__logo {
    width: 80px;
    height: 80px;
    background: #c4c4c4;
}

.main-screen__ul {
    padding-left: 50px;
    display: flex;
    align-items: center;
    gap: 20px;

}

.main-screen__li {
    list-style: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;

}


.main-screen__btn {
    display: inline-block;
    padding: 11px 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: #423F3E;
    position: relative;
}

.main-screen__btn::after,
.main-screen__btn::before {
    content: '';
    position: absolute;
    border: 2px solid #423F3E;
    border-radius: 8px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    top: -20px;
    opacity: 0;
    animation: btn-pulse 4s linear infinite;
}

.main-screen__btn::after {
    animation-delay: 2s;
}

@keyframes btn-pulse {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}

.main-screen__a {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}



.main-screen__title {
    font-weight: 700;
    max-width: 960px;
    margin-top: 229px;
    margin-inline: auto;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    color: #2B2B2B;
}

.main-screen__desc {
    font-weight: 700;
    max-width: 960px;
    margin-inline: auto;
    margin-top: 31px;
    margin-bottom: 300px;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #2B2B2B;

}

.block {
    display: flex;
    gap: 68px;
    margin-top: 30px;
    padding: 0px 120px;
    margin-bottom: 100px;
}

.info {
    flex: 0 1 65%;
    margin-top: 94px;
}

.info__header {
    font-weight: 700;
    font-size: 53px;
    line-height: 120%;
    color: #2B2B2B;
    margin-bottom: 60px;
}

.info__body {
    display: flex;
    gap: 50px;
    align-items: center;
}

.info__item .item {}

.item__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #2B2B2B;
    margin-bottom: 20px;
}

.item__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2B2B2B;
}

.image {
    flex: 0 1 35%;
}

.image__photo {
    max-width: 534px;
    height: 100%;
    animation: imageAnimation 2.7s forwards infinite;
    animation-timing-function: else-in-out;
}

@keyframes imageAnimation {
    0% {
        transform: translateY(0px);
    }
    15% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(20px);
    }
}

.description {
    margin-bottom: 80px;
}

.description__abilities {
    display: flex;
    margin-inline: 118px;
    gap: 220px;
    margin-bottom: 165px;
}

.description__info {
    max-width: 510px;
}

.desc__title-info {
    font-weight: 700;
    font-size: 39px;
    line-height: 120%;
    color: #2B2B2B;
    margin-top: 20px;
    margin-bottom: 20px;
}

.desc__desc-info {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #2B2B2B;
}

.description__name {
    max-width: 428px;
    display: flex;
    gap: 70px;
}

.names-first {
    flex: 0 1 65%;
}

.names-second {
    flex: 0 1 35%;
}

.names {
    font-weight: 700;
    font-size: 31px;
    line-height: 42px;
    color: #2B2B2B;
    margin: 0%;
    margin-bottom: 16px;
}

.description__where {
    display: grid;
    grid-template-columns: 360px auto;
    margin-inline: 118px;
}

.description__block-where {
    max-width: 272px;
}

.desc__title-where {
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #2B2B2B;
    margin-bottom: 20px;
}

.desc__desc-where {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #2B2B2B;
}

.description__photo {
    display: flex;
    gap: 59px;

}

.desc__img {
    display: flex;
    max-width: 240px;
}

.reviews {
    margin-bottom: 97px;
}

.reviews__title {
    font-weight: 700;
    font-size: 53px;
    line-height: 120%;
    text-align: center;
    color: #2B2B2B;
    margin-bottom: 80px;
}

.reviews__blocks {
    display: flex;
    justify-content: center;
    gap: 95px;
}

.review {
    max-width: 433px;
    padding: 60px 14px 28px 60px;
    border: 1px solid #transparent;
    background: #EBEBEB;
    box-shadow: 0px 0px 40px rgba(57, 40, 166, 0.15);
    border-radius: 5px;
}

.rewiew_desc {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #2B2B2B;
    margin-bottom: 20px;
}

.username {
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #2B2B2B;
}

.profile {
    margin: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-inline: 118px;
    margin-bottom: 39px;
}

.footer_logo {
    max-width: 81px;
    height: 100%;
}

.footer__img {
    width: 100%;
}

.footer_desc {
    max-width: 180px;
}

.footer__title {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    justify-content: center;
}

.icons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer__link .footer__p {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}